@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper {
    max-width: 1152px;
    height: 100%;
    margin: 0 auto;
}


body {
    --main-color:  #262A3F;
    --italic-color: #85BBB1;
    --link-color: #F1897B;
    --first-screen-background: url(../img/first-screen-image.jpg);
    --background-color: #fff;
    --border-color: #E4E4E4;
    --video-start-circle: #586291;
    --video-start-triangle: #262A3F;
    --opacity-for-contact-borders: 0.1;
    --header-background: #fff;
    --dollar-opacity: 0.2;
    --video-background: url("../img/screensaver-video.jpg");
    background: var(--background-color);
    color: var(--main-color)
}

body.theme-is-black {
    --main-color:  #fff;
    --italic-color: #689FF2;
    --link-color: #53F3CD;
    --first-screen-background: url(../img/first-screen-dark.jpg);
    --background-color: #161926;
    --border-color: #515773;
    --video-start-circle: #689FF2;
    --video-start-triangle: #689FF2;
    --opacity-for-contact-borders: 0.6;
    --header-background: #161926;
    --dollar-opacity: 0.8;
    --video-background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/screensaver-video.jpg");
    background: var(--background-color);
    color: var(--main-color)
}

.italic {
    font-style: italic;
    color: var(--italic-color);
}

.wrapper {
    max-width: 1152px;
    height: 100%;
    margin: 0 auto;
}


/* Header styles start*/

.header { 
    max-width: 1280px;
    height: 80px;
    margin: 31px auto 0 auto;
    position: relative;
    
}

.header__background {
    width: 1280px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background:var(--header-background);
    opacity: 0.3;
    z-index: 1;
}

.header__wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    justify-content: space-between;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    margin-right: 40px;
}   

.header__item {
    margin-right: 32px;
    list-style: none;
    z-index: 3;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 14px;
    font-weight: 400;
    color: var(--main-color);
    font-family: 'Lato';
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.95px;
    text-decoration: none;
    cursor: pointer;
}

.header__dark {
    z-index: 10000;
    cursor: pointer;
}

.header__dark-rectangle {
    width: 32px;
    height: 32px;
    background: url(../img/svg/rectangle-moon.svg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logos {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.header__logo-link-solis {
    margin-left: 12px;  
}

/* Header styles end */


/* Intro Page start */

.intro {
    width: 1280px;
    height: 914px;
    background-image: var(--first-screen-background);
    background-size: cover;
    margin: -111px auto 0 auto;
    padding-top: 269px;
}

.intro__title {
    width: 566px;
    height: 156px;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-style: normal;
    font-size: 44px;
    line-height: 52px;
    margin: 0 0 24px 0;
}

.intro__after-title {
        width: 465px;
        height: 52px;
        font-family: 'Lato';
        font-weight: 300;
        font-style: normal;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 48px;
}


.intro__join-link {
    display: block;
    width: 115px;
    height: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--link-color);
    position: relative;
    letter-spacing: 1.5px;
    
}


.intro__join-link-shadow {
    width: 112px;
    height: 13px;
    background:  var(--link-color);
    opacity: 0.2;
    position: absolute;
    left: 10px;
    top: 11px;
}


.intro__join-link-now {
    float: right;
}

/* Intro Page end */

/* Description Page start */

/* Statistic start*/

.description {
    width: 1280px;
    height: 1348px;
    margin: 0 auto;
}

.description__wrapper {
    position: relative;
}

.description__statistic-image {
    width: 566px;
    height: 680px;
    background: url(../img/statistic-image.jpg);
    background-size: cover;
    position: absolute;
    top: -182px;
}

.description__statistic-text {
    width: 761px;
    height: 570px;
    background: #fff;
    position: absolute;
    left: 391px;
    top: -127px;
    opacity: 0.9;
    padding: 42px 0;
    display: flex;
    background: var(--background-color);
}

.description__statistic-numbers {
    width: 370px;
    height: 486px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 18px;
}

.description__statistic-numbers-value {
    height: 72px;
    margin-bottom: 12px;
}

.description__statistic-numbers-paragraph {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    font-size: 68px;
    line-height: 72px;
    margin: 0;
    text-align: center;
    position: relative;
}

.statistic__dollar {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    position: absolute;
    opacity: var(--dollar-opacity);
    bottom: 0;
}
.statistic__dollar-tril {
    left: 100px;
}

.statistic__dollar-mil {
    left: 50px;
}

.description__statistic-value-description {
    height: 26px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.decription__statistic-borders {
    width: 82px;
    height: 0px;
    border: 1px solid var(--italic-color);
    margin: 0 auto;
}


.statistic__first-border {
    margin-top: 49px;
    margin-bottom: 41px;
}

.statistic__second-border {
    margin-top: 51px;
    margin-bottom: 15px;
}


.description__statistic-info-paragraphs {
    width: 360px;
    height: 334px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    padding-right: 16px;
    margin-bottom: 52px;
    margin-top: 0;
}

.description__statistic-info-link {
    width: 175px;
    height: 20px;
    display: block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--link-color);
    letter-spacing: 1.5px;
    position: relative;
}

.intro__info-link-shadow {
    width: 172px;
    height: 13px;
    background:  var(--link-color);
    opacity: 0.2;
    position: absolute;
    left: 11px;
    top: 11px;
}

.info_first-paragraph {
    margin-bottom: 30px;
}

.info_second-paragraph {
    margin-top: 0;
}

/* Statistic end*/

/* Benefits grid start*/

.benefits {
    width: 1089px;
    height: 680px;
    position: relative;
    top: 638px;
    display: grid;
    margin-left: 32px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 86px;
}

.benefits__item {
    width: 500px;
    height: 340px;
    border-top: 1px solid var(--border-color);
    padding-top: 32px;
}

.benefits__item-description {
    width: inherit;
    height: 96px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    margin: 0;
    padding-right: 50px;
}

.benefits__item-details {
    width: inherit;
    margin-top: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    padding-right: 15px;
}



.benefits__item-short-description {
    padding-right: 80px;
}

.benefits__item-short-details {
    padding-right: 30px;
}

/* Benefits grid end */

/* Description Page end */

/* Quote */

.quote__block {
    width: inherit;
    height: 400px;
    background: url(../img/quote-background.jpg);
    background-size: cover;
    position: relative;
}

.quote__text {
    width: 715px;
    height: 138px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 46px;
    color: white;
    position: absolute;
    top: 101px;
    left: 129px;
    margin: 0;
    letter-spacing: 0.04em;
    padding-right: 15px;
}



.quote__author {
    width: 500px;
    height: 20px;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color:white;
    position: absolute;
    top: 279px;
    left: 129px;
    margin: 0;
    letter-spacing: 0.08em;
}


.quote__icon {
    position: absolute;
    top: 70px;
    left: 70px;
}

/* Quote end */

/* Video start */

.video {
    width: 1280px;
    height: 974px;
    margin: 0 auto;
    padding-top: 121px;
}

.video__border {
    width: 900px;
    height: 552px;
    border: 1px solid var(--border-color);  
    margin: 0 auto;
    border-radius: 30px;
    padding: 25px 60px 25px 28px;
    position: relative;
    margin-bottom: 55px;
}

.video__inside-border {
    width: 812px;
    height: 502px;
}

.iframe__video {
    display: none;
}


.video__inside-border {
    background: var(--video-background);
}

.video__start-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: var(--video-start-circle);
    opacity: 0.3;
    position: absolute;
    top:  216px;
    left: 390px;
}

.video__start-triangle {
    position: absolute;
    top: 257px;
    left: 436px;
}

.video__start-triangle path {
    fill: var(--video-start-triangle);
}

.video__border-small-circle {
    width: 12px;
    height: 12px;
    border: 1px solid var(--border-color);  
    border-radius: 50%;
    position: absolute;
    top: 270px;
    left: 8px;
}

.video__border-large-circle {
    width: 32px;
    height: 32px;
    border: 1px solid var(--border-color);  
    border-radius: 50%;
    position: absolute;
    top: 260px;
    right: 14px;
}

.video__description {
    width: 827px;
    height: 126px;
    margin-left: 191px;
}

.video__description-heading {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 20px;
}



.video__description-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
}


/* Video end*/

/* Features start */

.features {
    width: 1280px;
    height: 691px;
    margin: 0 auto;
    position: relative;
}

.features__dark-block {
    width: 566px;
    height: 540px;
    background: url(../img/features-background-image.jpg);
    background-size: cover;
    position: relative;
}


.features__exchange-input {
    width: 240px;
    height: 331px;
    background: #161926;
    position: absolute;
    top: 104px;
    left: 76px;
    border-radius: 12px;
    padding-left: 19px;
}


.features__exchange-content-wrapper {
    width: 200px;
    height: inherit;
}

.features__exchange-buy-sell {
    width: inherit;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 2px solid #a5a1a1;
    border-bottom: 2px solid rgba(255, 243, 243, 0.1);
}

.buy-sale-paragraph {
    opacity: 0.8;
}

.features__money-icon {
    margin-top: 23px;
}

.features__arrow {
    margin: 27.29px 14.59px auto 15px;
}

.features__exchange-rate {
    width: inherit;
    height: 80px;
    position: relative;
    border-bottom: 2px solid #a5a1a1;
    border-bottom: 2px solid rgba(255, 243, 243, 0.1);
}
.exchange-rate-paragraph {
    position: absolute;
    margin: 0;
    top: 10px;
    left: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    opacity: 0.3;
}

.exchange-rate-small-number {
    position: absolute;
    margin: 0;
    top: 43px;
    left: 10px;
    font-family: 'Lato';
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    opacity: 0.7;
}

.exchange-rate-large-number {
    position: absolute;
    margin: 0;
    top: 30px;
    left: 80px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 24px;
    opacity: 0.9;
    color: #fff;
}

.buy-sale-paragraph {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-top: 20px;
    margin-right: 6px;
}

.features__exchange-grid {
    width: inherit;
    height: 144px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 2px solid #a5a1a1;
    border-bottom: 2px solid rgba(255, 243, 243, 0.1);
}

.exchange-grid-item {
    width: 94px;
    height: 36px;
    position: relative;
}



.exchange-paragraph {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    opacity: 0.3;
    color: #fff;
    position: absolute;
    left: 0;
    margin: 0;
}

.exchange-paragraph-bottom {
    bottom: 0;
}

.exchange-paragraph-top {
    top: 0;
}

.exchange-input {
    width: inherit;
    height: 28px;
    background-color: #a5a1a1;
    background-color:  rgba(255, 243, 243, 0.1);
    background-image: url(../img/svg/b.svg);
    background-repeat: no-repeat;
    background-position: center left 70px;
    border: none;
    opacity: 0.7;
    color: #fff;
    border-radius: 4px;
    padding-left: 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.exchange-input-t {
    background-image: url(../img/svg/t.svg);
}

.exchange-output {
    width: 51px;
    height: 17px;
    background-color: #a5a1a1;
    background-color:  rgba(255, 243, 243, 0.1);
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.exchange-output-top {
    margin-bottom: 7px;
}

.exchange-output-bottom {
    top: 0;
}

.features__exchange-end {
    height: 47px;
    width: inherit;
    position: relative;
}

.exchange-link-wrapper {
    width: 163px;
    height: inherit;
    margin-left: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.exchange-link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.features__on-wallet {
    opacity: 0.3;
} 

.features__circle {
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;  
    position: absolute;
    top: 16px;
    left: 0;
    
}

.inside-circle {
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 50%;
}


.features__grid {
    width: 762px;
    height: 452px;
    position: absolute;
    background: #ffffff;
    top: 44px;
    left: 455px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    opacity: 0.9;
    background: var(--background-color);
}

.features__grid-item {
    width: 381px;
    height: 226px;
    height: 226px;
}

.features__join-border {
    width: 308px;
    height: 94px;
    border: 1px solid var(--border-color);
    position: absolute;
    bottom: 72px;
    right: 18px;
}

.features__grid-text {
    width: 320px;
    margin-top: 72px;
    margin-left: 64px;
}

.features__grid-heading {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 48px;
    color: var(--main-color);
    margin-bottom: 14px;
}

.features__grid-paragraphs {
    width: 320px;
    height: 126px;
}

.features__grid-paragraph {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
}

.features__grid-top-paragraph {
    margin-top: 0;
    margin-bottom: 8px;
}

.features__grid-bottom-paragraph {
    margin-top: 0;
}

.features__grid-only-heading {
    position: absolute;
    top: 264px;
    margin-top: 0;
}

.features__grid-only-paragraph {
    position: absolute;
    top: 328px;
    margin-top: 0;
    padding-right: 400px;
}

.features__grid-link {
    width: 115px;
    height: 20px;
    display: block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--link-color);
    letter-spacing: 1.5px;
    position: absolute;
    top: 321px;
    left: 529px;
}


.features__grid-link-shadow {
    width: 122px;
    height: 13px;
    background:  var(--link-color);
    opacity: 0.2;
    position: absolute;
    left: 11px;
    top: 11px;
}


/* Features end */


.slider {
    width: 1280px;
    height: 529px;
    margin: 0 auto;
    position: relative;
}

.slider__text {
    height: 146px;
    width: 329px;
    margin-bottom: 133px;
}



.reviews-heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    word-spacing: 10px;
}



.reviews-description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    opacity: 0.8;
}







.slider__counter {
    font-family: 'Playfair Display';
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 159px;
}

.slider__review-number {
    font-style: normal;
    font-size: 24px;
}


.review-block {
    width: 468px;
    height: 333px;
    position: relative;
}

.review-text {
    width: 372px;
    height: 182px;
    padding-right: 8px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 0.8;
    position: absolute;
    top: 51px;
    left: 48px;
    margin: 0;
}

.review-author {
    width: 320px;
    height: 20px;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    position: absolute;
    bottom: 48px;
    left: 48px;
    margin: 0;
}

.first-review {
    background:  url(../img/image1.jpg);
    box-shadow:inset 0 0 0 2000px rgba(25, 28, 41, 0.7);
    background-size: cover;
}

.second-review {
    background: url(../img/image2.jpg);
    box-shadow:inset 0 0 0 2000px rgba(25, 28, 41, 0.7);
    background-size: cover;
}

.third-review {
    background: url(../img/image3.jpg);
    box-shadow:inset 0 0 0 2000px rgba(25, 28, 41, 0.7);
    background-size: cover;
}

.fourth-review {
    background: url(../img/image4.jpg);
    box-shadow:inset 0 0 0 2000px rgba(25, 28, 41, 0.7);
    background-size: cover;
}

.glide__wrapper {
    width: 825px;
    height: 333px;
    position: absolute;
    top: -17px;
    left: 455px;
}

.glide__arrows {
    position: absolute;
    top: 310px;
    left: -180px;
}

.glide__arrow {
    border: none;
    background: none;
}

.glide__arrow:focus {
    outline: none;
}

.arrow__enabled {
    fill: var(--italic-color);
    fill-rule: evenodd;
}

.arrow__disabled {
    fill: #000000;
    fill-opacity: 0.1;
    fill-rule: evenodd;
}


/* Slider end */


/* Contact start */

.contact {
    width: 1280px;
    height: 507px;
    margin: 0 auto;
}

.contact__block {
    width: inherit;
    height: inherit;
    position: relative;

}


.contact__border-line {
    width: 1152px;
    height: 1px;
    background:var(--border-color);
    position: absolute;
    margin-left: 22px;
}


.contact__grid {
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact__grid-item {
    height: inherit;
}


.contact__heading {
    width: 500px;
    height: 48px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    margin-top: 120px;
    margin-left: 11px;
    margin-bottom: 20px
}

.contact__italic {
    margin-left: 10px;
}

.contact__paragraph {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    opacity: 0.8;
    margin-left: 11px;
}

.contact__form {
    width: 475px;
    height: 288px;
    margin-top: 100px;
    margin-left: 168px;
}

.input-element {
    height: 72px;
    width: inherit;
    border: none;
    border-bottom: 1px solid rgba(38,42,63, var(--opacity-for-contact-borders));
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    padding-top: 20px;
    letter-spacing: 0.08em;
    background: var(--background-color);
}

.input-element:focus {
    outline: none;
}


.contact__submit {
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--link-color);
    text-align: left;
    background: var(--background-color);
}

.contact__submit-shadow {
    width: 163px;
    height: 13px;
    background: var(--link-color);
    opacity: 0.2;
    position: relative;
    left: 15px;
    bottom: 25px;
}

/* Contact end */


/* Footer start */

.footer {
    width: 1280px;
    height: 72px;
    margin: 0 auto;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
}

.footer__wrapper {
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
}

.footer__made-by-who {
    display: flex;
}

.footer__agreement-policy {
    display: flex;
}

.footer__copyright {
    margin-right: 255px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1px;
    opacity: 0.6;
}

.footer__made-by {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    opacity: 0.6;
    letter-spacing: 0.1px;
    margin-right: 12px;
}

.footer__made-by-who {
    margin-right: 246px;
}

.footer__agreement {
    margin-right: 32px;
    text-decoration: none;
    color: inherit;
}

.footer__policy {
    text-decoration: none;
    color: inherit; 
}



/* Footer end */




@media only screen and (max-width: 1280px) {
    .header__item {
      margin-right: 10px;
    }
    .wrapper {
        margin-left: 20px;
    }
    .description__statistic-text {
        left: 30vw;
        flex-direction: column;
        padding: auto;
        width: 560px;
        height: 680px;
    }
    /* .description__statistic-info-paragraphs {
        display: none;
    } */

    .description__statistic-info-link {
        margin-top: 5%;
        margin-left: 20vw;
    }
   
  }